/**
 * @name midnight (starling)
 * @description a variant of the midnight theme with the starling palette.
 * @author refact0r
 * @version 2.1.1
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* import theme modules */
@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

body {
    /* font options */
    --font: 'figtree'; /* change to '' for default discord font */
    --code-font: 'JetBrains Mono'; /* change to '' for default discord font */
    font-weight: 300; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */
    /* sizes */
    --gap: 12px; /* spacing between panels */
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: on; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url(''); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: off; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--bg-3); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* chatbar options */
    --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
    --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {

    /* starling color palette */
    --light-green-grey:        #cdd3cb;
    --medium-green-grey:       #a8b4a9;
    --green-grey:              #788e85;
    --deep-green-grey:         #506f72;
    --light-purple:            #8e5c9b;
    --medium-purple:           #5a417a;
    --bright-purple:           #782f8a;
    --medium-magenta:          #94056b;
    --bright-magenta:          #af0c66;
    --bright-red:              #c21d41;
    --bright-orange:           #d54b46;
    --light-orange:            #e99580;
    --light-orange-pink:       #eeb2a4;
    --bright-pink:             #e27f8e;
    --medium-cerulean:         #46748e;
    --dark-cerulean:           #303c54;
    --dark-grey-blue:          #27262f;

    --muted-light-green-grey:  #5e5f63;
    --muted-medium-green-grey: #4e5154;
    --muted-green-grey:        #43494d;
    --muted-deep-green-grey:   #363f47;
    --muted-medium-purple:     #3a3149;
    --muted-bright-purple:     #432b4e;
    --muted-medium-magenta:    #4c1d45;
    --muted-bright-magenta:    #541f43;
    --muted-bright-red:        #5a2537;
    --muted-bright-orange:     #603439;
    --muted-light-orange:      #664b4b;
    --muted-light-orange-pink: #685456;
    --muted-bright-pink:       #64454f;
    --muted-medium-cerulean:   #334150;
    --muted-dark-cerulean:     #2c2f3d;

    --colors: on; /* off: discord default colors, on: midnight custom colors */

    /* text colors */
    --text-0: var(--light-green-grey); /* text on colored elements */
    --text-1: var(--light-green-grey); /* other normally white text */
    --text-2: var(--green-grey); /* headings and important text */
    --text-3: var(--light-green-grey); /* normal text */
    --text-4: var(--medium-green-grey); /* icon buttons and channels */
    --text-5: var(--muted-green-grey); /* muted channels/chats and timestamps */

    /* background and dark colors */
    --bg-1: var(--muted-medium-cerulean); /* dark buttons when clicked */
    --bg-2: var(--dark-cerulean); /* dark buttons */
    --bg-3: var(--muted-dark-cerulean); /* spacing, secondary elements */
    --bg-4: var(--dark-grey-blue); /* main background color */
    --hover: var(--dark-cerulean); /* channels and buttons when hovered */
    --active: var(--muted-dark-cerulean); /* channels and buttons when clicked or selected */
    --active-2: var(--dark-cerulean); /* extra state for transparent buttons */
    --message-hover: hsla(220, 0%, 0%, 0.1); /* messages when hovered */

    /* accent colors */
    --accent-1: var(--medium-cerulean); /* links and other accent text */
    --accent-2: var(--deep-green-grey); /* small accent elements */
    --accent-3: var(--bright-pink); /* accent buttons */
    --accent-4: var(--light-orange-pink); /* accent buttons when hovered */
    --accent-5: var(--light-orange-pink); /* accent buttons when clicked */
    --accent-new: var(--bright-red); /* stuff that's normally red like mute/deafen buttons */
    --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

    /* status indicator colors */
    --online: var(--green-4); /* change to #40a258 for default */
    --dnd: var(--red-3); /* change to #d83a41 for default */
    --idle: var(--yellow-3); /* change to #cc954c for default */
    --streaming: var(--purple-3); /* change to ##9147ff for default */
    --offline: var(--blue-2); /* change to #82838b for default offline color */

    /* border colors */
    --border-light: var(--hover); /* general light border color */
    --border: var(--active); /* general normal border color */
    --border-hover: var(--active); /* border color of panels when hovered */
    --button-border: var(--muted-green-grey); /* neutral border color of buttons */

    /* base colors */
    --red-1: var(--light-orange);
    --red-2: var(--bright-orange);
    --red-3: var(--bright-red);
    --red-4: var(--bright-magenta);
    --red-5: var(--medium-magenta);

    --green-1: var(--light-green-grey);
    --green-2: var(--medium-green-grey);
    --green-3: var(--green-grey);
    --green-4: var(--deep-green-grey);
    --green-5: var(--medium-purple);

    --blue-1: var(--medium-cerulean);
    --blue-2: var(--dark-cerulean);
    --blue-3: var(--dark-grey-blue);
    --blue-4: var(--muted-medium-purple);
    --blue-5: var(--medium-purple);

    --yellow-1: var(--bright-pink);
    --yellow-2: var(--light-orange-pink);
    --yellow-3: var(--light-orange);
    --yellow-4: var(--bright-orange);
    --yellow-5: var(--bright-red);

    --purple-1: var(--light-purple);
    --purple-2: var(--medium-purple);
    --purple-3: var(--bright-purple);
    --purple-4: var(--medium-magenta);
    --purple-5: var(--bright-magenta);
}